
<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenavOpen>
    
    <h1>  Categories</h1>
    <mat-list role="list">
        <mat-list-item *ngFor="let resource of resources" >
            <mat-icon >info</mat-icon>
            <a mat-button  (click)=" onSelected(resource.id);sidenavOpen.close();"> {{resource.name}}</a> 
          
          </mat-list-item>
        
      </mat-list>
      
  
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (openMenu)="sidenavOpen.toggle()"></app-header>
    <router-outlet></router-outlet>
    
  </mat-sidenav-content>
</mat-sidenav-container>

