

     <mat-form-field class="example-full-width">
      <input matInput placeholder="enter name" #name (keyup)="search(name)">
    </mat-form-field>
   
<table mat-table [dataSource]="mydataSource" matSort class="mat-elevation-z8">

  
    <!-- Name Column -->
    <ng-container matColumnDef="urlToImage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> website </th>
      <td mat-cell *matCellDef="let element"> <img [src]='element.urlToImage' width="100px"  height='100px'/> </td>
    </ng-container>
  
    <!-- title Column -->
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> url </th>
      <td mat-cell *matCellDef="let element"> <a [href]='element.url' >{{element.url}}</a> </td>
    </ng-container>
  
    <!-- desc Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>description </th>
      <td mat-cell *matCellDef="let element">{{element.description}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="20"
              [pageSize]="3"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
 
  